@if (notFound()) {
  <div class="help-page">
    <header class="help-page-header">
      <h1>{{ 'docs.page.notFoundTitle' | t }}</h1>
      <p class="lead">{{ 'docs.page.notFoundLead' | t }}</p>
    </header>
    <p><a class="doc-inline-link" href="/" (click)="goHome($event)">{{ 'docs.page.returnHome' | t }}</a></p>
  </div>
} @else {
  <article class="help-page doc-topic-page" (click)="onArticleClick($event)">
    <header class="help-page-header">
      <h1>{{ title() }}</h1>
      @if (leadSafe()) {
        <p class="lead" [innerHTML]="leadSafe()"></p>
      }
    </header>
    <div class="doc-topic-body" [innerHTML]="bodySafe()"></div>
  </article>
}
